h1{ 
	color:#0BA9B8;
	background-color:#AEF0F6;
	margin: auto;
	font-size: 150px;
	font-family: monaco,Consolas,Lucida Console,monospace;
  	border-radius: 100px 15px 15px;
  	padding: 20px;
  	width: 580px;
  	height: 140px;
}

body{
	background:#86A1EE;
}